
*.xcuserstate
*.xcuserstate
*.xcuserstate
*.xcbkptlist
GitHubApp.xcodeproj/project.xcworkspace/xcuserdata/bruno.xcuserdatad/UserInterfaceState.xcuserstate
/GitHubApp.xcodeproj/xcuserdata
*.xcbkptlist
*.xcuserstate
